@media screen and (min-width: 1620px) {
    body { width: 1600px;
    margin: auto;}


.circle>img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}
}

@media screen and (max-width: 992px) {
html {
    font-size: 8px;
}
.gallery {
      padding: 5rem 3.3rem;      
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);     
  }
.img1 {height: 100%;
    grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;       
    animation: fromLeft 1.5s ease 2s 1 normal forwards;
}

.img2 {
    grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
       animation: fromRight 1.5s ease 1s 1 normal forwards;
}

.img3 {
    grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        animation: fromLeft 1.5s ease 2s 1 normal forwards;
}

.img4 {
    grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
        animation: fromRight 1.5s ease 1s 1 normal forwards;
}

.img5 {
    grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
       animation: fromLeft 1.5s ease 2s 1 normal forwards;
}

.img6 {height: 100%;
    grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 3;        
    animation: fromRight 1.5s ease 1s 1 normal forwards;
}

#page2 {
   flex-direction: column-reverse; 
   width: 100%;

}

.barber {
    width: 100%;
    height: 40%;
}
.circles {
    width: 100%;
    align-items: center;    
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
        column-gap: 2rem;
            /* padding-left: 3.5rem; */
            /* padding-right: 3.5rem; */
            margin-left: 4rem;
            margin-right: 4rem;
}
.cards_content {
    width: 100%;
}
.cards_content  h2 {
    height: 4rem;
    line-height: 4rem;
}

.pers1 {
    background-position-y: -9rem;
    /* background-size: auto; */
}

.pers2 {
    background-position-y: -6rem;
}
.pers3 {
    background-position-y: -15rem;
}
.pers4 {
    background-position-y: -15rem;
}
.footer_left {
    flex-direction: column;
    align-items: center;
    margin: auto 3rem;
    /* margin-top: 2rem; */
    /* padding-top: 0; */    
}
.footer {
    height: auto;
}
.footer_feedback {
    width: 100%;
}
.footer_maps {
    margin-top: 2rem;
    width: 100%;
}
.footer_right {
    flex-direction: column;
    align-items: center;
    margin: auto 3rem;
    margin-top: 4rem;
    padding: 0;
}
.footer_contact a {
    margin: .5rem;
}
.footer_social h5 {
 padding: 0;
 padding-bottom: .5rem;
}
.footer_social {
align-items: center;
}

}

@media screen and (max-width: 768px) {
    html {
        font-size: 7px;
    }
    .page, .page3 {
        height: auto;
    }

    .gallery {
        padding: 5rem 3.3rem;
        grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
    }

    .gal_item {
        height: 200px;
    }

    .img1 {
        height: 100%;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;        
    }

    .img2 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;     
    }

    .img3 {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;        
    }

    .img4 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;       
    }

    .img5 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;               
    }

    .img6 {
        height: 100%;
        grid-row-start: 6;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 2;        
    }

    #page2 {
        flex-direction: column-reverse;
        width: 100%;

    }

    .barber {
        width: 100%;
        height: 0%;
    }

    .circles {
        width: 100%;
        align-items: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        /* padding-left: 3.5rem; */
        /* padding-right: 3.5rem;   */
        height: auto;   
        margin-left: 3.5rem;
        margin-right: 3.5rem;

    }
/* /////////////////////////////////////////// 



///////////////////////////////////////////////*/
    .cards_content {
        width: 100%;
        /* height: 25rem; */
    }

    .cards_content h2 {
        height: 25rem;
        line-height: 4rem;
    }
/* ///////////////////////////////////////////////////////


 //////////////////////////////////////////////////////*/
    .pers1 {
        background-position-y: -25rem;
        /* background-size: auto; */
    }

    .pers2 {
        background-position-y: -12rem;
    }

    .pers3 {
        background-position-y: -26rem;
    }

    .pers4 {
        background-position-y: -28rem;
    }

    .footer_left {
        flex-direction: column-reverse;
        align-items: center;
        margin: auto 3rem;
        /* margin-top: 2rem; */
        /* padding-top: 0; */
    }

    .footer {
        height: auto;
    }

    .footer_feedback {
        width: 100%;
    }

    .footer_maps {
        margin-top: 2rem;
        width: 100%;
    }

    .footer_right {
        flex-direction: column;
        align-items: center;
        margin: auto 3rem;
        margin-top: 4rem;
        padding: 0;
    }

    .footer_contact a {
        margin: .5rem;
    }

    .footer_social h5 {
        padding: 0;
        padding-bottom: .5rem;
    }

    .footer_social {
        align-items: center;
    }

}