:root {
    font-size: 10px;
}


a {
    text-decoration: none;    
}
body {
    font-family: 'Rosario', sans-serif;
    font-style: normal;
        font-weight: 700;
        margin: 0 auto;
        width: 100%;
        /* padding: 0% 1rem;         */
}
.heady { display: flex;
width: 20%;
background-color: white;
justify-content: center;
z-index: 5;}


header {
 display: flex; 
 height: 11vh;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;

}

.nav {
    display: flex;
    background-color: black;
    list-style: none;
    width: 100%;
    padding-left: 10%;
    
   
}

.header_link {
    font-style: italic;
        font-size: 1.6rem;
        color: #FFFCFC;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
}

.logo_img { height: 11vh;
width: 100%;}

.header_text {
    height: 11vh;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.page {
    display: flex;
    height: 89vh;
    justify-content: center;
    scroll-margin-top: 11vh;
    width: 100%;
    
}

.gallery {
padding: 7rem 4.3rem;
    flex: 1 1 auto;
width: 100%;
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
    row-gap: 4.5rem;
    column-gap: 3rem;
}


.gal_item { 
    /* width: 100%; */
position: relative;
    height: 100%;
    align-self: center;
    opacity: 0;
}

.gal_item img {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.img1 {
    grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;   
        height: 75%;
        animation: fromLeft 1.5s ease 2s 1 normal forwards;

}
.img2 {
    grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;    
 animation: fromLeft 1.5s ease 1s 1 normal forwards;
}
.img3 {
    grid-row-start: 1;
        grid-column-start: 3;
        grid-row-end: 2;
        grid-column-end: 4;      
        animation: fromRight 1.5s ease 1s 1 normal forwards;
    }
.img4 {
    grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        animation: fromLeft 1.5s ease 1s 1 normal forwards;
    }
.img5 {
    grid-row-start: 2;
        grid-column-start: 3;
        grid-row-end: 3;
        grid-column-end: 4;
     animation: fromRight 1.5s ease 1s 1 normal forwards;
 }

.img6 {
    grid-row-start: 1;
        grid-column-start: 4;
        grid-row-end: 3;
        grid-column-end: 5;
        height: 75%;
        animation: fromRight 1s ease 2s 1 normal forwards;
    }

@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(-55rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(55rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.barber {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    background: url("../img/page2barber.png") center center/cover no-repeat;
}
p {
    margin: 0;
    font-style: italic;
    font-size: 3rem;
    align-items: center;
    text-align: center;
}

.circles {
    display: flex;
    width: 50%;
      padding-top: 2.7rem;           
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 89vh;
            
        
}

.circle { width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;} 

.circle > img {width: 16rem;
    height: 16rem;
    border-radius: 50%;
}

.circles:hover .circle:nth-child(1) {
    animation: rotate_1 7s ease 0s infinite normal forwards;
}

.circles:hover .circle:nth-child(2) {
    animation: rotate_2 7s ease 0s infinite normal forwards;
}

.circles:hover .circle:nth-child(3) {
    animation: rotate_3 7s ease 0s infinite normal forwards;
}

.circles:hover .circle:nth-child(4) {
    animation: rotate_4 7s ease 0s infinite normal forwards;
}
@keyframes rotate_1 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(100%, 0);
    }

    50% {
        transform: translate(100%, 100%);
    }

    75% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate_2 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(-100%, 100%);
    }

    75% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate_3 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -100%);
    }

    50% {
        transform: translate(100%, -100%);
    }

    75% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate_4 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-100%, 0);
    }

    50% {
        transform: translate(-100%, -100%);
    }

    75% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 0);
    }
}
.page3 { display: flex;
  flex-direction: column;
scroll-margin-top: 11vh;
    width: 100%;
height: 89vh;    
       
}
.page3head {
    font-size: 5rem;        
        display: flex;
        justify-content: center;
        align-items: center;           
        color: #000000;
        height: 1.8rem;
        padding-top: 1rem;
}

.pers1 { background: url(../img/meredith.png) center center/cover no-repeat }
.pers2 { background: url(../img/jason.png) center center/cover no-repeat}
.pers3 { background: url(../img/ryan.png) center center/cover no-repeat}
.pers4 { background: url(../img/james.png) center center/cover no-repeat}

.cards {
    display: flex;   
    height: 60vh;
    justify-content: space-around;
}
.cards_content {
    border-radius: 4rem;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
}

.cards:hover .cards_content {
    filter: grayscale(100);
    transition: all 0.5s;
}

.cards .cards_content:hover {
    filter: grayscale(0);
}

.cards .cards_content:hover h2 {
    opacity: 1;
}

.cards_content h2 {
    margin: 0;
    font-family: "Volkhov", sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #FFFAFA;
    background-color: rgba(163, 83, 10, 0.7);
    height: 15rem;
    line-height: 15rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    opacity: 0;
    transition: all 0.5s;
}

.footer {
    display: flex;
    flex-direction: column;
    /* padding: 0 10rem; */
    font-size: 2rem;
    text-align: center;
    font-style: italic;    
    height: 89vh;
    
}



.footer_left,
.footer_right {
    padding-top: 3.3rem;
    display: flex;
    justify-content: space-between;
}
.footer a {
    text-decoration: none;
    color: #000;    
}

.footer a:hover {
    color: grey;
}

.footer_feedback {
    width: 50%;
}

.footer_feedback form {
    margin-top: 2rem;
    background: #E5E5E5;
    padding-bottom: 2rem;
}

.footer_feedback form input::placeholder {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);

}

.footer_feedback form #name {
    width: 40%;
}

.footer_feedback form #email {
    width: 40%;
    margin-left: 5rem;
}

.footer_feedback form input {
    padding-left: 1rem;
    border: none;
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.footer_feedback form textarea {
    padding-left: 1rem;
    border: none;
    resize: none;
    height: 10rem;
    width: 90%;
}

.footer_feedback form textarea::placeholder {
    font-size: 3.6rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer_contact {
    display: flex;
    flex-direction: column;
}

.footer_hours h5 {
    font-size: 2rem;   
    margin: 0;
    padding-bottom: 2rem;
}
.footer_hours h6 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 2rem;
}


.footer_left {
    display: flex;
    justify-content: space-between;
}

.footer_left h2 {
    font-size: 3.5rem;    
    font-style: italic;
    margin: 0;
}


.footer_maps {
    width: 50%;
    /* margin-left: 4rem; */
}

.footer_maps iframe {
    width: 95%;
    height: 100%;
}

.footer_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_social h5 {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 2rem;
    padding-right: 10rem;
}


.footer_social-insta:before {
    content: url("../img/insta.png");
    /* display: inline-block; */
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}

.footer_social-face:before {
    content: url("../img/face.png");
    /* display: inline-block; */
    padding-right: 1rem;
    
}

.footer_social-twitter:before {
    content: url("../img/twitter.png");
    /* display: inline-block; */
    padding-right: 1.2rem;
    padding-left: 0.3rem;
    
}






@import url(./media.css);